* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #56baed;
}

#container {
    height: auto;
    width: auto;
    background: linear-gradient(to bottom, #fff 10%, #fff);
    border-radius: 20px;
    padding: 30px;
    box-shadow: inset 1px 2px 0px rgb(255 255 255 / 18%), inset -2px -2px 2px rgb(0 0 0 / 65%);
}

#startingPage {
    height: 250px;
    width: 400px;
}

#startingPage h2,
#winner h2 {
    font-size: 50px;
    color: black;
}

#startingPage #line {
    height: 1px;
    width: 100%;
    background: black;
    margin: 20px 0;
}

#startingPage h4 {
    font-size: 25px;
    color: black;
}

#startingPage #button #option{
    height: auto;
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
}

#button button {
    height: 55px;
    width: 180px;
    cursor: pointer;
    background: #56baed;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    transform: scale(1);
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
    transition: 0.5s;
}
#button .credit{
    color: black;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
#button .credit span{
    color: #56baed;
}
#button button:first-child {
    margin-right: 40px;
}

#startingPage #button button:hover,
#winner #button button:hover {
    transform: scale(0.90);
}

#winner {
    display: none;
}

#winner #button {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

#winner #button button {
    margin-top: 20px;
}

#mainPage {
    height: 550px;
    width: 350px;
    padding: 20px;
    position: relative;
    display: none;
}

#mainPage #headerBtns {
    height: 60px;
    width: 310px;
    border-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
}

#mainPage #headerBtns button {
    height: 60px;
    width: 160px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.60);
}

#mainPage #headerBtns #O_Turn {
    left: 160px;
    z-index: 3;
}

#showChange {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 160px;
    border-radius: 50px;
    background: #56baed;
    z-index: 1;
    transition: 0.2s;
}

#gameBoard {
    height: 400px;
    width: 330px;
    position: absolute;
    top: 150px;
    left: 10px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 15px;
}

.boxes {
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.boxes i {
    font-size: 60px;
    color: #56baed;
}

 /*============================================================
  RESPONSIVE CODE FOR 420PX                                   
  ============================================================*/
  @media(max-width:590px){
   
    #startingPage {
        height: 220px;
        width: 230px;
    }
    #startingPage h2,
    #winner h2 {
    font-size: 28px;
    color: black;
    }
    #startingPage h4 {
        font-size: 15px;
        color: black;
    }
    #button button{
        height: 41px;
        width: 160px;
    }
    #button .credit{
        margin-top: 60px;
        font-size: 11px;
    }

    #winner #button button {
        margin-top: 15px;
    }





    
#mainPage {
    height: 370px;
    width: 235px;
    padding: 0;
    position: relative;
    display: none;
}

#mainPage #headerBtns {
    height: 40px;
    width: 235px;
    border-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
}

#mainPage #headerBtns button {
    height: 40px;
    width: 80px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.60);
}

#mainPage #headerBtns #O_Turn {
    left: 150px;
    z-index: 3;
}

#showChange {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    background: #56baed;
    z-index: 1;
    transition: all 0.2s ease;
}

#gameBoard {
    height: 300px;
    width: 230px;
    position: absolute;
    top: 85px;
    left: 10px;
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-gap: 16px;
}

.boxes {
    height: 60px;
    width: 60px;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 80%);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.boxes i {
    font-size: 25px;
    color: #56baed;
}

  }